{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
  body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #fdfdfd;
  }

  .head_text {
    color: white;
  }

  .card {
    box-shadow: 0 16px 48px #E3E7EB;
  }

  body {
    font-family: Arial, sans-serif;
  }
</style>

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class="site-heading my-4 mt-3 text-white">Lost and Found</h3>
          <p class="text-light">Indian Institute of Technology Palakkad &nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</header>

<a href="{% url 'logout' %}">Log Out</a>
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      {% for Lost_Object in lost_object_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ Lost_Object.Product_Name }}</h2>
          <p class="card-text text-muted h6">{{ Lost_Object.Name_and_Roll_no_of_Person }} | {{ Lost_Object.Lost_on }}
          </p>
          <p class="card-text">{{ Lost_Object.Description|slice:":200" }}</p>
          <a href="{% url 'Lost_Object_detail' Lost_Object.slug %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- <div class="column is-one-third"> -->
    <!-- <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="button is-success is-fullwidth is-medium mt-5"
                        type="submit">Submit
                </button>
            </form> -->

  </div>
</div>
</div>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}